<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
   <body>
        
           <header>
             <h1>
                 Welcome to {{ title }}!
             </h1>
        
                  <!-- weather widget start -->
       <div align="right">
         
                 
          <a target="_blank" href="https://www.booked.net/weather/zeeland-49654"><img src="https://w.bookcdn.com/weather/picture/26_49654_0_1_f1c411_250_f39c13_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=w209&anc_id=22930"  alt="booked.net"/></a><!-- weather widget end -->
    
  
       </div>
            
        <div align="left">
               
            <img src="src/tmt_logo.png" alt="logo"/>
        
               
        </div>
        
        <div align="right">
               
            <div class="search-container">
                <form action="/action_page.php">
             <input type="text" placeholder="Search.." name="search">
             <button type="submit">Submit<i class="fa fa-search"></i></button>
                </form>
             </div>
       
        </div>
      
           
           </header>
        
    <nav>
        
<div class="topnav" id="myTopnav">

  <div class="dropdown">
    <button class="dropbtn">Home
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Subscriptions</a>
      <a href="#">Quick Links</a>
      <a href="#">Events</a>
    </div>
  </div> 
  <a href="#about">Articles</a>
  <a href="#about">Reports</a>
  <a href="#about">MWC2</a>
  <a href="#about">Projects</a>
  <a href="#about">Home Office</a>
  <a href="#about">Resources</a>
</div>

    </nav>     
    </body>
  
